# Trabajando con tipos de datos en Python




## Objetivos


* Trabajar con varios tipos de datos en Python.
* Convertir los datos de un tipo a otro.

## Tipos de objetos en Python

<p>Python es un lenguaje orientado a objetos. Hay muchos tipos diferentes de objetos en Python. Vamos a empezar con los tipos de objetos más comunes: <i>strings</i>, <i>integers</i> y <i>floats</i>. Cada vez que escribes palabras (texto) en Python, estás utilizando <i>character strings</i> (strings para abreviar). Por otra parte, los números más comunes son <i>integers</i> (p.e. -1, 0, 100) y <i>floats</i>, que representan números reales (p.e. 3.14, -42.0).</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesObjects.png" width="600">
</a>

<p>Las siguientes celdas de código contienen algunos ejemplos.</p>

In [1]:
# Integer

11

11

In [2]:
# Float

2.14

2.14

In [3]:
# String

"Hello, Python 101!"

'Hello, Python 101!'

<p>Puedes hacer que Python te indique el tipo de una expresión utilizando la función incorporada <code>type()</code>. Observarás que Python se refiere a los números enteros como <code>int</code>, floats como <code>float</code>, y character strings como <code>str</code>.</p>

In [4]:
# Type of 12

type(12)

int

In [5]:
# Type of 2.14

type(2.14)

float

In [6]:
# Type of "Hello, Python 101!"

type("Hello, Python 101!")

str

<p>En la celda de abajo, usa la función <code>type()</code> para verificar el tipo de <code>12.0</code>.

In [7]:
# Escribe tu codigo

float

### Integers

<p>Aquí hay algunos ejemplos de números enteros. Los números enteros pueden ser negativos o positivos:</p>

<a align="center">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%201/images/TypesInt.png" width="600">
</a>

In [7]:
type(-1)

int

In [11]:
type(4)

int

In [10]:
type(0)

int

### Floats

<p>Los números flotantes representan números reales; son un superconjunto de los números enteros, pero también incluyen «números con decimales». Existen algunas limitaciones cuando se trata de máquinas que representan números reales, pero los números en coma flotante son una buena representación en la mayoría de los casos. Puedes obtener más información sobre las especificidades de los flotantes para su entorno de ejecución, comprobando el valor de <code>sys.float_info</code>. esto también te dirá cuál es el mayor y el menor número que se puede representar con ellos.</p>

<p>Veamos algunos ejemplos utilizando la función <code>type()</code>:

In [11]:
type(1.0) # Observa que 1 es un int, y 1.0 es un float

float

In [16]:
type(0.5)

float

In [17]:
type(0.56)

float

In [12]:
import sys
sys.float_info

sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)

### Strings

In [13]:
type("Hola, mundo!")

str

In [14]:
type("5")

str

In [15]:
type("25.5")

str

### Booleanos

In [22]:
type(True)

bool

In [23]:
type(False)

bool

In [24]:
tiene_hijos = True
type(tiene_hijos)

bool

In [26]:
print(tiene_hijos)

True

In [18]:
2 == 5

False

In [19]:
"Hola" == "Adios"

False

In [20]:
"Hola" == "Hola"

True

<p>Podemos convertir objetos booleanos en otros tipos de datos. Si convertimos un booleano con un valor de <code>True</code> a un entero o float obtendremos un número 1. Si convertimos un booleano con un valor de <code>False</code> a un entero o float obtendremos un número 0. De manera similar, si convertimos el número 1 a booleano, obtendremos <code>True</code>. Y si convertimos 0 a booleano obtendremos <code>False</code>.</p>

In [10]:
int(True)

1

In [11]:
bool(1)

True

In [12]:

bool(0)

False

In [13]:
float(True)

1.0

### Conversión de un tipo de objeto a otro distinto

<p>Puedes cambiar el tipo del objeto en Python; esto se llama typecasting. Por ejemplo, puedes convertir un objeto <i>integer</i> en uno <i>float</i> (p.e. 2 a 2.0).</p>
<p>Intentemoslo:</p>

In [1]:
type(2)

int

#### Convertir integers a floats

In [ ]:
# Convertir 2 a float

float(2)

In [16]:
# Convertir 2 a float y verificar su tipo

type(float(2))

float

<p>Cuando convertimos un entero en un flotante, en realidad no cambiamos el valor del número. Sin embargo, si convertimos un flotante en un entero, podemos perder información. Por ejemplo, si convertimos el flotante 1.1 en un entero, obtendremos 1 y perderemos la información decimal (es decir, 0.1)</p>

In [17]:
int(1.1)

1

<h4>Convertir cadenas a números enteros o flotantes</h4>

<p>A veces, podemos tener una cadena que contiene un número en su interior. Si este es el caso, podemos convertir esa cadena que representa un número en un entero utilizando <code>int()</code>:</p>

In [18]:
int('1')

1

<p>Pero si intentas hacerlo con una cadena que no coincide perfectamente con un número, obtendrás un error. Prueba lo siguiente:</p>

In [19]:
int('1 or 2 people')

ValueError: invalid literal for int() with base 10: '1 or 2 people'

<p>También puedes convertir cadenas que contengan números de punto flotante en objetos <i>float</i></p>

In [20]:
float('1.2')

1.2

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tip:] Ten en cuenta que las cadenas pueden representarse con comillas simples (<code>'1.2'</code>) o comillas dobles (<code>"1.2"</code>), pero no puedes combinarlas (p.e., <code>"1.2'</code>).
</div>
<hr/>

<h4>Convertir numeros a cadenas</h4>

<p>Si podemos convertir cadenas en números, es lógico suponer que podemos convertir números en cadenas, ¿no?</p>

In [8]:
str(1)

'1'

<p>Y no hay ninguna razón por la que no podamos convertir los flotantes en cadenas también:</p>

In [9]:
str(1.2)

'1.2'

### Ejercicio: Types

<p>Cuál es el tipo de datos del resultado de: <code>6 / 2</code>?</p>

In [14]:
type (6/2)

float

<p>Cuál es el tipo de datos del resultado de: <code>6 // 2</code>? (Ten en cuenta el doble slash <code>//</code>.)</p>

In [16]:
type(6//2)

int

Cuál es el tipo de datos del resultado de: <code>"Hello, World!"</code>

In [21]:
type("Hello, world")

str

Cuál es el tipo de datos del resultado de: <code>"hello" == "world"</code>

In [23]:
type("hello" == "world")

bool

Escribe el código para convertir el siguiente número que representa employeeid **"1001"** a un entero.

In [25]:
int("1001")

1001

Escribe el código para convertir el siguiente número que representa un valor financiero **"1234.56"** en un número de punto flotante.

In [26]:
float("1234.56")

1234.56

Escribe el código para convertir el siguiente número de teléfono **123-456-7890** en una cadena de texto.

In [29]:
str(123-456-7890)
str("123-456-7890")

'123-456-7890'